@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #e3d8c4;
  font-family: "Kdam Thmor Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 500px;
  height: 525px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 10px 20px -5px rgba(100, 100, 100, 0.8);
}

.header {
  background: #2f6690;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0px 0px;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.player-container {
  margin: 10px 50px;
}

.computer-container {
  margin: 20px 50px;
}

.options {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
  margin: 0px 0px 10px;
}

h3 {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
}

#player .options,
#player .choice,
#player .score {
  color: #2f6690;
  cursor: pointer;
}

#computer .options,
#computer .choice,
#computer .score {
  color: #a8201a;
}

.computer-selected {
  filter: invert(0%) sepia(0%) saturate(2%) hue-rotate(204deg) brightness(52%)
    contrast(100%);
}

.player-selected {
  filter: invert(0%) sepia(96%) saturate(0%) hue-rotate(182deg) brightness(33%)
    contrast(102%);
}

.game-menu {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 0px 50px;
}

.support-icons {
  cursor: pointer;
}

.game-rules-container {
  display: flex;
  position: absolute;
  width: 300px;
  height: 425px;
  background-color: white;
  left: 50%;
  margin-left: -10%;
  top: 50%;
  margin-top: -11%;
  border-radius: 7px;
  box-shadow: 0 10px 20px -5px rgba(100, 100, 100, 0.8);
}

.game-rules-header {
  background: #2f6690;
  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0px 0px;
}

.game-rules-header h2 {
  color: white;
  text-align: center;
  margin: 0px;
  font-weight: 300;
}

.game-rules {
  display: grid;
  margin: 0px 15px 15px 15px;
}

.rule {
  margin: 10px;
  display: flex;
  float: left;
  justify-content: space-between;
  align-items: center;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

.result-text {
  font-size: 34px;
  margin: 10px 0px 5px 0px;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {
    width: 95%;
    height: 525px;
  }

  h1 {
    font-size: 24px;
  }

  .player-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .computer-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .game-menu {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
  }

  .game-rules-container {
    display: flex;
    position: absolute;
    width: 300px;
    height: 425px;
    background-color: white;
    left: 20%;
    margin-left: -10%;
    top: 35%;
    margin-top: -11%;
    border-radius: 7px;
    box-shadow: 0 10px 20px -5px rgba(100, 100, 100, 0.8);
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container {
    width: 95%;
    height: 525px;
  }

  h1 {
    font-size: 22px;
  }

  .player-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .computer-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .game-menu {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
  }

  .game-rules-container {
    display: flex;
    position: absolute;
    width: 300px;
    height: 425px;
    background-color: white;
    left: 20%;
    margin-left: -10%;
    top: 25%;
    margin-top: -11%;
    border-radius: 7px;
    box-shadow: 0 10px 20px -5px rgba(100, 100, 100, 0.8);
  }

  .result-container {
    margin: 0 20px;
  }
}
